@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root {
  --font-heading: 'Poppins', sans-serif;
  --font-body: 'Roboto', sans-serif;
  --font-logo: 'Pacifico', cursive;
}
/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3 {
  font-family: 'Poppins', sans-serif;
}
p,
body {
  font-family: 'Roboto', sans-serif;
  /* For body text */
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #000;
}
.container {
  width: 100%;
  max-width: 1250px;
  margin: auto;
  padding: 20px 0;
}
/* Header Styling */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: relative;
  width: 100%;
  background-color: #000;
  border-bottom: 1px solid #282727;
}
.logo-container {
  display: flex;
  align-items: center;
}
.logo img {
  width: 50px;
  height: auto;
}
.brand-name {
  font-size: 1.4em;
  font-weight: 500;
  color: #fff;
  margin-left: 10px;
  text-transform: uppercase;
}
.nav-links {
  display: none;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(135deg, #1e1e1e, #121212);;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 40px 0;
  z-index: 1;
}
header nav a {
  width: 100%;
  display: block;
  padding: 15px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
}
header nav a:hover {
  color: #9c7811;
}
.check-icon:checked~.nav-links {
  display: flex;
}
/* Toggle menu styles */
.icon-menu {
  width: 24px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  position: absolute;
  right: 20px;
  z-index: 2;
}
.bar {
  height: 2.6px;
  width: 100%;
  border-radius: .5rem;
  background-color: #fff;
}
.bar--1 {
  transition: top 200ms 100ms, transform 100ms;
}
.bar--2 {
  transition: transform 150ms 100ms;
}
.bar--3 {
  transition: bottom 200ms 100ms, transform 100ms;
}
.check-icon:checked+.icon-menu>.bar--1 {
  transition: top 200ms, transform 200ms 100ms;
}
.check-icon:checked+.icon-menu>.bar--3 {
  transition: bottom 200ms, transform 200ms 100ms;
}
/* Hero Section */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #000;
  gap: 40px;
}

.hero-left {
  flex: 1;
  background: linear-gradient(135deg, #1e1e1e, #121212);
  padding: 60px 30px 10px 30px;
  border-radius: 10px;
  overflow: hidden;
  height: 450px;
}
.hero-left h1 {
  font-size: 64px;
  line-height: 1em;
  margin-bottom: 10px;
  color: #fff;
  line-height: 1em;

  small {
    display: block;
    font-weight: normal;
    font-size: 50px;
    font-family: var(--font-body);
  }
  @media (max-width:1024px) {
    font-size: 50px;
    font-family: var(--font-heading);

  }
}
.hero-left p {
  font-size: 16px;
  margin: 15px 0;
  color:#ececec;
  font-weight: normal;
  line-height: 1.5em;
}
.hero-left .btn {
  display: inline-block;
  padding: 10px 20px;
  background: #9c7811;
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
  border-radius: 5px;
}
.hero-left .btn.secondary {
  background: #fff;
  color: #000;
  border: 1px solid #000;
}
.hero-right {
  flex: 1;
  background: linear-gradient(135deg, #2e7794db, #c3aa3ef2);
  border-radius: 10px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 450px;
}
.hero-right img {
  max-height: 500px;
  max-width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
/* /* Skills Section */
.skills-slider {
  background-color: #212121;
  overflow: hidden;
  position: relative;
  width: 100vw;
  white-space: nowrap;
}
.skill-slide {
  display: inline-flex;
  padding: 30px 0;
  gap: 20px;
  animation: scroll-skills 35s linear infinite;
}
.skill-slide img {
  height: 150px;
  object-fit: cover;
  transition: transform 0.3s ease;
}
@keyframes scroll-skills {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}
/* Portfolio-section */
#portfolio {
  padding: 0 15px;
  overflow-x: hidden;
  background-color: #000;
  color: #fff;
}
/* .portfolio-item {
padding:10px ;
} */
.portfolio-container .row {
  justify-content: center;
}
.card-img-top{
  height: auto;
}
.card img{
  height: 200px;
  object-fit: cover;
  width: 100%;
}
.card{
  background-color: #1e1e1e;
  color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.lb-outerContainer {
  Width: 60% !important;
  Height: 600px !important;
  overflow-y: scroll;
}

.lb-image {
  object-fit: cover;
  Width: 100% !important;
  height: auto !important;
}
.btn-primary{
  border-color: #9c7811;
  background-color: transparent;
}
.btn-primary:hover{
  background-color: #9c7811;
  border-color: #9c7811;
}
.btn-outline-primary{
  color: #fff;
  border-color: #9c7811;
}
.btn-outline-primary:hover{
  background-color: #9c7811;
  border-color: #9c7811;
}
.btn.active{  
  background-color: #9c7811;
  border-color: #9c7811;
}

/* About Section */
#about {
  max-width: 1650px;
  margin: 0 auto;
  padding: 2rem 1rem;
  background-color: #000;
}
/* #about {
  padding: 30px;
} */
#about .about-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  margin: 0 auto;
}
/* Left Column (Text) */
.about-me {
  flex: 1;
  background-color: #1e1e1e;
  border-radius: 10px;
  padding: 30px;
  min-height: 330px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}
.about-me .btn {
  display: inline-block;
  padding: 10px 20px;
  background: #9c7811;
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
  border-radius: 5px;
}
.about-me h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #fff;
}

.about-me h2 span {
  color: #eec400; /* Highlight color */
}

.about-me p {
  font-size: 1.1rem;
  line-height: 1.8;
  color: #ddd;
}
/* Right Column (Image) */
.image {
  flex: 1;
  text-align: center;
}
.image img {
  max-width: 500px;
  height: auto;
  border-radius: 15px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
}
/* Responsive Design for Mobile */
@media (max-width: 768px) {
  .about-container {
    flex-direction: column; 
    align-items: center;
    padding: 10px;
  }

  .about-me {
    width: 100%;
    padding: 15px;
    text-align: left;
  }

  .about-me h2 {
    font-size: 1.8rem;
    margin-bottom: 15px;
  }

  .about-me p {
    font-size: 1rem;
    line-height: 1.6;
  }

  .image {
    width: 100%;
    margin-top: 20px;
  }

  .image img {
    width: 80%; /* Adjust image size for mobile */
    max-width: 300px; /* Limit maximum width */
    border-radius: 10px;
  }
}

/* Timeline Styling */
#timeline {
  padding: 2rem;
  color: #fff;
}

.stat-title {
  font-size: 64px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1.8rem;
}

.toggle-buttons {
  display: none; 
  justify-content: center;
  margin-bottom: 2rem;
}

.toggle-buttons button {
  background-color: #fff;
  color: #9c7811;
  padding: 0.5rem 1rem;
  border: 1px solid #fff;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s, color 0.3s;
}

.toggle-buttons .active {
  background-color: #9c7811;
  border: 1px solid #9c7811;
  color: #fff;
}

.timeline {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.edu, .training {
  text-transform: uppercase;
  font-size: 28px;
  font-weight: bold;
  padding-bottom: 30px;
}

.timeline-item {
  position: relative;
  padding-left: 3rem;
  border-left: 1px solid #ececec
}

.timeline-item .tl-icon {
  position: absolute;
  left: -27px;
  top: 0;
  background-color: #9c7811;
  color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline-item .tl-duration {
  background-color: #fff;
  color: #000;
  border-radius: 6px;
  padding: 0.4rem 0.8rem;
  display: inline-block;
  font-weight: 500;
}

.timeline-item h5 {
  color: #fff;
  margin: 0.6rem 0;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.timeline-item p, .timeline-item h6 {
  color: #a8a8a8;
}
.timeline-item ul{
  color:#a8a8a8;
}
/* .timeline-item h6 {
  font-weight: 600;
  color: #0066bf;
} */

@media (max-width: 768px) {
  .timeline {
    grid-template-columns: 1fr;
  }

  .toggle-buttons {
    display: flex; /* Show on mobile */
  }

  .edu, .training {
    display: none;
  }

  .timeline-column {
    display: none; /* Hide columns initially on mobile */
  }

  .timeline-column.active {
    display: block; /* Show active timeline column */
  }
}
/* Contact Section */
#contact{
  background-color: #000;
  padding-bottom:20px ;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button,
input {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px;
}

.background {
  display: flex;
  min-height: 100vh;
}
.container {
  flex: 0 1 700px;
  margin: auto;
  padding:50px 0;
}

.screen {
  position: relative;
  height: 650px;
  background: #313131;
  border-radius: 15px;
}

.screen:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
  z-index: -1;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 20px;
  background: #555555;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 3px;
  border-radius: 8px;
  background: #fff;
}

.screen-header-button.close {
  background: red;
}

.screen-header-button.maximize {
  background: rgb(200, 200, 32);
}

.screen-header-button.minimize {
  background: green;
}

.screen-header-right {
  display: flex;
}

.screen-header-ellipsis {
  width: 6px;
  height: 6px;
  margin-left: 4px;
  border-radius: 8px;
  background: #e0e0e0;
}

.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #fff;
  font-size: 40px;
  font-family: var(--font-heading);
  font-weight: 500;
}

.app-title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 35px;
  height: 4px;
  background: #9c7811;
}
.left p{
  padding: 20px 0 0 0;
  font-size:16px;
  line-height: 1.5em;
  font-weight: normal;
  color: #ececec;

}
.social-list {
  margin: auto 0;
  padding: 20px 0;
  list-style: none;
  text-align: left;
}

.social-list li {
  display: inline-block;
  margin-right: 1.5rem;
  text-align: center;
}

.social-list li:last-of-type {
  margin-right: 0;
}

.social-icon {
  display: block;
  width: 60px;
  height: 60px;
  border: 4px solid #9c7811;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.social-icon:active {
  border: 4px solid #9c7811;
}

.social-icon:focus {
  border: 4px solid #9c7811;
}

.social-icon:visited {
  border: 4px solid #9c7811;
}

.social-icon span {
  position: relative;
  right: 4px;
  bottom: 4px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 25px;
  background: #9c7811;
  color: #eaeaea;
  border-radius: 50%;
  border: 1px solid transparent;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  overflow: hidden;
  -webkit-box-shadow: 0 2px 16px #9c7811;
  box-shadow: 0 2px 16px #9c7811;
  text-shadow: 0px 0px 0px #9c7811, 1px 1px 0px #9c7811,
    2px 2px 0px #9c7811, 3px 3px 0px #9c7811,
    4px 4px 0px #9c7811, 5px 5px 0px #9c7811,
    6px 6px 0px #9c7811, 7px 7px 0px #9c7811,
    8px 8px 0px #9c7811, 9px 9px 0px #9c7811,
    10px 10px 0px #9c7811, 11px 11px 0px #9c7811,
    12px 12px 0px #9c7811, 13px 13px 0px #9c7811,
    14px 14px 0px #9c7811, 15px 15px 0px #9c7811,
    16px 16px 0px #9c7811, 17px 17px 0px #9c7811,
    18px 18px 0px #9c7811, 19px 19px 0px #9c7811,
    20px 20px 0px #9c7811, 21px 21px 0px #9c7811,
    22px 22px 0px #9c7811, 23px 23px 0px #9c7811,
    24px 24px 0px #9c7811, 25px 25px 0px #9c7811,
    26px 26px 0px #9c7811, 27px 27px 0px #9c7811;
}

.social-icon:hover span {
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
}

.social-icon:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #555555;
  color: #fff;
  font-size: 16px;
  text-transform: capitalize;
  outline: none;
  transition: border-color .2s;
}

.app-form-control::placeholder {
  color: #555555;
  font-size: var(--font-size-p);
}

.app-form-control:focus {
  border-bottom-color: #c0c0c0;
}

.app-form-button {
  background: none;
  border: none;
  color: #fff;
  background-color: #212121;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  padding: 10px 35px 10px 35px;
  border-radius: 4px;
}

.app-form-button:hover {
 background-color: #9c7811;
}

@media screen and (max-width: 520px) {
  .hero{
    gap: 10px;
    padding: 12px 20px;
  }
  .hero-left .btn{
    display: block;
    /* width: 160px; */
  }
  .hero-right{
    padding: 0;
  }
  #contact{
    padding: 15px;
  }
   .screen{
    height: auto;
    margin: 10px 0;
   }
  .screen-body {
    flex-direction: column;
    padding: 20px;
  }

  .screen-body-item.left {
    padding: 15px 0;
    margin-bottom: 30px;
  }
  .app-form-group {
    margin-bottom: 10px; /* Reduce spacing between form fields */
  }
  .app-form-group.message {
    margin-top: 20px; /* Adjust margin for message field */
  }
  .app-form-control {
    font-size: 14px; /* Adjust font size for input fields */
  }
  .app-form-button {
    display: block;
    width: 100%; 
    margin-top: 20px;
  }
  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
  
}

@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
}

/* Responsive Styling */
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
  }

  .hero-left {
    order: 1;
    margin-bottom: 20px;
  }

  .hero-right {
    order: 2;
    width: 100%;
    height: auto;
  }

  .hero-left h1 {
    font-size: 2em;
  }

  .skills-slider {
    animation-duration: 30s;
    /* Slower speed on mobile */
  }
}

.main-title {
  text-align: center;
}
.main-title h2 {
  position: relative;
  text-transform: uppercase;
  font-size: 3.5rem;
  font-weight: 700;
  color: #fff;
}

.main-title h2 span {
  color: #9c7811;
}

.main-title h2 .bg-text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #dad9d9;
  transition: all 0.4s ease-in-out;
  z-index: -1;
  transform: translate(-50%, -50%);
  font-weight: 800;
  font-size: 6.3rem;
}
footer {
  border-top: 1px solid #1e1e1e;
  padding: 1.2em 0;
  height: 60px;
  background-color: #000;
  color: #fff;
  font-size: 11px;
  font-family:'Poppins';
}

footer p {
  text-align: center;
  vertical-align: bottom;
}
/* Responsive code */

/* Desktop view */
@media (min-width: 768px) {
  .nav-links {
    display: flex;
    flex-direction: row;
    position: static;
    width: auto;
    height: auto;
    background: none;
    padding: 0;
  }

  .social-icons {
    display: none !important;
  }

  .icon-menu {
    display: none;
  }

  header nav a {
    padding: 0 19px;
  }

  .logo-container {
    display: flex;
    align-items: center;
  }
}
/* Mobile view */
@media (max-width: 768px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .logo-container {
    flex-grow: 1;
  }

  .nav-links {
    display: none;
  }
  .nav-links a {
    font-size: 22px;
  }
  .check-icon:checked~.nav-links {
    display: flex;
  }
  .social-icons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 0px;
  }
  .social-icons a i {
    font-size: 40px;
  }
  .logo-container {
    margin-right: 40px;
  }
  .hero-left .btn {
    margin-block-start: 15px !important;
  }

  .main-title>h2 {
    font-size: 30px !important;
  }

  .main-title .bg-text {
    display: none;
  }

  .skill-slide img {
    height: 90px !important;
  }

  .filter-btn {
    font-size: 12px;
  }
  .hero-left h1 {
    font-size: 35px;
    line-height: 1em;
    margin-bottom: 10px;
    color: #fff;
    line-height: 1em;
  
    small {
      display: block;
      font-weight: normal;
      font-size: 24px;
      font-family: var(--font-body);
    }
}
}
